/*color combo*/
/*
#C6BFAF
#F9F8F4
#BED3CA
#918D84
*/

html,body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F9F8F4;
  clear: both;
}
body #gnb{
  background-color: #918D84;
  height: 30px;
  /*position: relative;*/
}
/*body #gnb ul{*/
  /*list-style: none;*/
  /*color: seashell;*/
  /*margin: 0px;*/
  /*padding: 0px;*/
  /*height: 30px;*/
/*}*/
/*body #gnb ul li{*/
  /*display: inline-block;*/
  /*margin: 0px 10px;*/
/*}*/
#gnb #room-name{display: inline-block; line-height:30px; width: 200px; text-align:center;
  text-decoration: none; position: relative; color:#F9F8F4; font-weight: bold; font-size: 16px;}
#gnb #room-name.close:hover{background-color:#C6BFAF;}
#gnb #room-name.open:hover{background-color:#C6BFAF;}
#gnb #room-name.close{  background-color: transparent; }
#gnb #room-name.open{  background-color: #C6BFAF; }

#gnb .profile{
  position: absolute;
  right: 20px;
  top: 0px;
  height: 30px;
  text-decoration: none;
}
#gnb .profile:hover{
  background-color: gold;
}
#gnb .profile .user-name{
  line-height: 30px;
  color: black;
  font-size: 16px;
  font-weight: bold;
}



/*body #gnb ul li a{*/
  /*color: seashell;*/
  /*text-decoration: none;*/
  /*line-height: 30px;*/
  /*font-weight: bold;*/
/*}*/

/*body #gnb ul li a:hover{*/
  /*color: #66CCFF;*/
/*}*/

a {
  color: #00B7FF;
}
#lnb{float: left; width: 200px; height: calc(100% - 30px); background-color: #C6BFAF; position:relative;}
#lnb.open{ animation: lnb-open 1s forwards; }
#lnb.close{ animation: lnb-close 1s forwards;}
#lnb #room-list > div{
  height: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}
#lnb #room-list > div:hover{
  background-color: gold;
}
#lnb .create-room-btn{
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 186px;
  height: 30px;
  text-decoration: none;
  color: black;
  background-color: #F9F8F4;
  text-align: center;
  line-height: 30px;
  border: 2px solid #918D84;
}
#lnb .create-room-btn:hover{
  background-color: gold;
}
#contents{left: 200px; width: calc(100% - 200px); height: calc(100% - 30px); background-color:#F9F8F4; position: absolute;}
#contents.lnb-open{ animation: contents-lnb-open 1s forwards;}
#contents.lnb-close{ animation: contents-lnb-close 1s forwards;}
#contents > #messages{ padding: 10px; }
#contents > #send-form{
  width: 100%;
  font-size: 0px;
  letter-spacing: 0px;
  word-spacing: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

/*#contents.lnb-open > #send-form{*/
  /*left: 0px;*/
/*}*/
/*#contents.lnb-close > #send-form{*/
  /*left: 0px;*/
/*}*/


#contents > #send-form input[type="text"]{display: inline-block; width: calc(100% - 104px); height: 30px; font-size: 12px;}
#contents > #send-form input[type="submit"]{display: inline-block; width:100px; height: 30px; font-size: 12px;}


/*#content{*/
  /*width: 800px;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*background-color: #66CCFF;*/
  /*border: 2px solid #003399;*/
  /*margin-top: 100px;*/
/*}*/
/*#content #room{*/
  /*background-color: #ddd;*/
  /*margin-bottom: 1em;*/
  /*position: relative;*/
/*}*/
/*#content ul.window-btn-group{*/
  /*position: absolute;*/
  /*right: 50px;*/
  /*top: 50px;*/
  /*list-style: none;*/
/*}*/
/*#content ul.window-btn-group li{*/
  /*display: inline-block;*/
  /*background-color: black;*/
  /*width: 20px;*/
  /*height: 16px;*/
  /*!*line-height: normal;*!*/
/*}*/
/*#content #messages{*/
  /*width: 690px;*/
  /*height: 300px;*/
  /*overflow: auto;*/
  /*background-color: #eee;*/
  /*margin-bottom: 1em;*/
  /*marign-right: 10px;*/
/*}*/
/*#content #room-list{*/
  /*float: right;*/
  /*width: 100px;*/
  /*height: 300px;*/
  /*overflow: auto;*/
/*}*/
/*#content #room-list div{*/
  /*border-bottom: 1px solid #eee;*/
  /*cursor: pointer;*/
/*}*/
/*#content #room-list div:hover{*/
  /*background-color: #ddd;*/
/*}*/
/*#content #send-message{*/
  /*width: 700px;*/
  /*margin-bottom: 1em;*/
  /*margin-right: 1em;*/
/*}*/
/*#content #help{*/
  /*font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;*/
/*}*/

.user{
  position: absolute;
  left: 30px;
  top: 30px;
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 30px;

  animation: wave 2s infinite;

}
.user:hover{
  cursor: pointer;
}

@keyframes wave {

  from{
    background-color:red;
  }
  to{
    background-color:gold;
  }
  
}

@keyframes lnb-open{
  from{ width: 0px; }
  to{ width: 200px; }
}

@keyframes lnb-close{
  from{ width: 200px; }
  to{ width: 0px; }
}
@keyframes contents-lnb-open{
  from{ width: 100%; left: 0px;}
  to{ width: calc(100% - 200px); left: 200px;}
}

@keyframes contents-lnb-close{
  from{ width: calc(100% - 200px); left: 200px; }
  to{ width: 100%; left: 0px; }
}
