<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <!--<script src="http://d3js.org/d3.v3.min.js"></script>-->
    <!--<script src="http://d3js.org/topojson.v1.min.js"></script>-->
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->

    <style>
        body{
            background-color: #666;
        }
        svg circle {
            fill: orange;
            opacity: .5;
            stroke: white;
        }
        svg circle:hover {
            fill: red;
            stroke: #333;
        }
        svg text {
            pointer-events: none;
        }
        svg .municipality {
            fill: #efefef;
            stroke: #777;
        }
        svg .municipality:hover{
            fill: gold;
        }
        svg .municipality-label {
            fill: #000;
            font-size: 12px;
            font-weight: 300;
            text-anchor: middle;
        }
        svg #map text {
            color: #333;
            font-size: 10px;
            text-anchor: middle;
        }
        svg #places text {
            color: #777;
            font: 10px sans-serif;
            text-anchor: start;
        }
    </style>
</head>
<body>

    <div id="chart"></div>



<!--<script src="http://code.jquery.com/jquery-1.8.0.min.js" type="text/javascript"></script>-->
<script>
    // 여기다 스크립트 작성
    // 아래 내용은 아래 url에서 참조한 것임
    // https://www.lucypark.kr/blog/2015/06/24/seoul-matzip-mapping/#fn:1

    $(document).ready(function(){

        var width = 800,
            height = 600;

        var svg = d3.select("#chart").append("svg")
            .attr("width", width)
            .attr("height", height);

        var map = svg.append("g").attr("id", "map"),
            places = svg.append("g").attr("id", "places");

        var projection = d3.geo.mercator()
            .center([126.9895, 37.5651])
            .scale(100000)
            .translate([width/2, height/2]);

        var path = d3.geo.path().projection(projection);

        d3.json("./json/seoul_municipalities_topo_simple.json", function(error, data) {
            var features = topojson.feature(data, data.objects.seoul_municipalities_geo).features;

            map.selectAll("path")
                .data(features)
                .enter().append("path")
                .attr("class", function(d) { console.log(); return "municipality c" + d.properties.code })
                .attr("d", path)
                .attr("data-name", function(d) { return d.properties.SIG_KOR_NM; });

            map.selectAll("text")
                .data(features)
                .enter().append("text")
                .attr("transform", function(d) { return "translate(" + path.centroid(d) + ")"; })
                .attr("dy", ".35em")
                .attr("class", "municipality-label")
                .text(function(d) { return d.properties.SIG_KOR_NM; })
        });

    });





</script>
</body>
</html>
